/*  카드 기본  */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    background: rgb(240,240,240);
    border-radius: 7px;
    transition: Transform 0.25s ease;
    transform: rotateY(0deg);
    height: 110px;
    width: 85px;
    cursor: pointer;
}

/*  열린 카드  */
.card[data-open='true'] {
    transform: rotateY(180deg);
}